gravlen/critical_and_caustics/resimgs/
gravlen/critical_and_caustics/temp/
gravlen/critical_and_caustics/cpps/savedimgs/
gravlen/critical_and_caustics/pys/resimgs/
gravlen/critical_and_caustics/totahiti191209
gravlen/critical_and_caustics/totahiti191210
